div {
    width: 100%;
    background-color: white;
    height: 100px;
    position: inherit;
    bottom: 0;
}

p {
    position: relative;
    top: 45%;
    left: 45%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}