<div class="top3">
  <div class="container">

    <p (click)="toggleInfoBudgeting()">Budget info :</p>


    <div class="input-container" *ngIf="isClickedBudget">

      <div>
        <form #budgetForm="ngForm" (ngSubmit)="this.budgettingService.postBudgetItem(budgetForm)">
          <input #inputPrice="ngModel" type="text" placeholder="Price" name="price" ngModel required min-length="1">
          <input #inputFrom="ngModel" type="text" placeholder="From where" name="from" ngModel required min-length="1">
          <input #inputFor="ngModel" type="text" placeholder="Product name" name="about" ngModel required
            min-length="1">
          <button id="budget-submit-input"
            [disabled]="inputPrice.invalid || inputFrom.invalid || inputFor.invalid">Add</button>
        </form>
      </div>
      <div>
        <app-budgetlist *ngFor="let record of budgettingService.budgetArray" [record]="record"></app-budgetlist>
        <div>
          <p>Spend this month : {{this.spend}}</p>
        </div>
      </div>

    </div>

  </div>


  <div class="container">
    <p (click)="toggleInfoShopping()">Shopping list :</p>
    <div *ngIf="isClickedShopping">
      <div class="input-container">
        <form #shoppingForm="ngForm" (ngSubmit)="this.budgettingService.postShoppingItem(shoppingForm)">
          <input #productInput="ngModel" type="text" name="productName" placeholder="Product" ngModel required />
          <button [disabled]="productInput.invalid">Submit</button>
        </form>
      </div>
      <div>
        <app-shoppinglist *ngFor="let item of budgettingService.shoppingArray" [item]="item"></app-shoppinglist>
      </div>
    </div>
  </div>
</div>