.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-right: 7%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 30px;
  background: #f3f3f393;
  margin-top:4vh;
  border-radius: 5px;
}

form label {
  margin: 10px 0;
}

form h1 {
  margin-bottom: 30px;
  font-size: 40px;
  padding: 10px 50px;
}



 input {
  font-size: 18px;
  padding: 11px 20px;
  outline: none;
  border: none;
  background: rgba(230, 230, 230, 0.575);
  border-radius: 5px;
}

button {
  font-size: 18px;
  padding: 12px 10px;
  border: none;
  background: #212121;
  color: #fff;
  margin-top: 30px;
  border-radius: 1vh;
}

 button:hover {
  cursor: pointer;
}


p.error {
  text-align: left;
  border-radius: 0.3em;
  color: rgb(102, 18, 18);
  font-size: large;
  font-weight: 700;
  padding-top: 0;
  margin: 1vh;
}


