div{
    width: 10%;
    height: 50vh;
    background-color: rgb(0, 109, 143);
    position: fixed;
    top: 10%;
}
nav{
    padding: 10px;
}

nav a{
    display: block;
    text-align: center;
    padding: 2vh;
    text-decoration: none;
    color: rgb(0, 109, 143);
    background-color:white;
    border: 1vh solid  rgb(0, 109, 143);
    border-radius: 15%;
}
img{
  width: 70%;
}
