<div class="top">
  <div class="info">
    <h1>Daily Assistent</h1>
    <p>
      is a SPA build with Angular. You can easily shedule your time, keep track on your money and save your favorite
      links.<br><br>
    </p>
  </div>
  <div class="img">
    <img src="../../assets/calendar-home.png" alt="Calendar image">
  </div>
  <div class="info">
    <p>
      With the calendar you can shedule your tasks for the week. Just click the Add Task button and set the task data.
      The required data for task is :
    </p>
    <ul>
      <li>
        <p>
          - Title
        </p>
      </li>
      <li>
        <p>
          - Date
        </p>
      </li>
      <li>
        <p>
          - Start hour
        </p>
      </li>
      <li>
        <p>
          - End hour
        </p>
      </li>
    </ul>
    <p class="more-info">
      * You can submmit only if all fields are filled.
    </p>
    <br><br><br><br>
  </div>
  <div class="img">
    <img src="../../assets/budgeting.png" alt="Budget section image">
  </div>
  <div class="info">
    <p>
      When you come back from market you can easily put your bill in the Budget section where you can manage your
      monthly
      expenses.
      The required data for this are:
    </p>
    <ul>
      <li>
        <p>
          - Product name
        </p>
      </li>
      <li>
        <p>
          - Price
        </p>
      </li>
      <li>
        <p>
          - From where
        </p>
      </li>
    </ul>
    <p class="more-info">
      * You can submmit only if all fields are filled.
    </p> <br><br><br><br>
  </div>
  <div class="img">
    <img src="../../assets/link.png" alt="Link section image">
  </div>
  <div class="info">
    <p>
      If you have favourit links and you dont know where to store it go on Link section.
      The required data for task is :
    </p>
    <ul>
      <li>
        <p>
          - Title
        </p>
      </li>
      <li>
        <p>
          - Link
        </p>
      </li>
      <li>
        <p>
          - Description
        </p>
      </li>
    </ul>
    <p class="more-info">
      * You can submmit only if title and link fields are filled.
    </p>
  </div>
</div>